    * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            scroll-behavior: smooth;
        }

        body {
            margin: 20px;
            padding: 20px;
            background: linear-gradient(180deg, #000, #0000ff, #000);
            background-size: 100% 100%;
            color: #000;

        }


        .navlinks {
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: 0.3s ease;
        }

        nav ul li,
        a {
            list-style-type: none;
            text-decoration: none;
            color: #fff;
            font-size: 15px;
            font-weight: bold;
        }

        .img-perfil {
            border-radius: 50%;
            border: 1px solid #000;
            width: 300px;
            height: 400px;
            margin: 30px;
        }

        .perfil {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .perfil h3::after {
            content: "Desenvolvedor Web";
            animation: dev 6s infinite;
            color: #fff;
        }

        @keyframes dev {

            0%,
            49% {
                content: "Desenvolvedor Web";
                background: linear-gradient(180deg, #000, #0000ff, #000)
            }

            50%,
            100% {
                content: "Front-End";
                background: linear-gradient(180deg, #000, #0000ff, #000)
            }
        }

        .sobre {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 30px 5px 40px;
            padding: 15px;
        }

        #skills {
            border: 1px solid gold;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .caixa-skill {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        .skill {
            background: rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 15px;
            padding: 10px;
            transition: 0.5s ease;
        }

        .skill:hover {
            background: rgba(0, 0, 0, 0.7);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 15px;
            padding: 10px;
            box-shadow: 0px 5px 5px 10px rgba(255, 255, 255, 0.2);
            transform: scale(1.1);
            cursor: pointer;
            border-radius: 10px;
            color: #fff;
        }

        #projectos {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 15px;

        }

        .caixa-projecto {
            margin: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }


        .proj {
            padding: 100px;
            background: rgba(0, 0, 0, 0.2);
            box-shadow: 0px 5px 5px 10px rgba(255, 255, 255, 0.7);
        }